@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.custom-font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.custom-font-mavan-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}

.customColorBlue {
  background-color: #3d91a3;
}
.footerBgColor {
  background-color: #ddefed;
}

.footer-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.3px;
}

.homeBgColor {
  background-color: #f4f5ff;
}
.homeFontColor {
  color: #34495e;
}

.nav-container{
 box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.04);
}

.nav-hover,
.nav-hover path{
  fill:rgba(32, 32, 32, 0.623);
  transition: fill 0.3s ease, color 0.3s ease;
}

.nav-hover:hover{
  color:  #3d91a3;
  cursor: pointer;
}

.nav-hover:hover path{
  fill: #3d91a3;
  cursor: pointer;
}

.comobo-header {
  background-color: #212121;
}
