@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------------------------------------------------Fonts----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

.custom-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
.footer-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.3px;
}
.custom-font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
.custom-font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.custom-font-mavan-pro {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.no-data-found-text {
  color: #f1f0f0;
}

/*-----------------------------------------------------Colors----------------------------------------------*/

.customColorBlue {
  background-color: #3d91a3;
}

.customColorBlue-lite {
  background-color: #99c6d367;
}

.customWhiteColor {
  background-color: #ffffff;
}
.footerBgColor {
  background-color: #ddefed;
}
.font-color {
  color: #3d91a3;
}

.textbox-color {
  background-color: #f1f0f0;
}

/*----------------------------------------------Home-Page-Colors---------------------------------------------*/

.homeInactiveColor {
  color: #34495ed5;
}
.homeBgColor {
  background-color: rgb(249, 249, 249);
}
.homeActiveColor {
  color: #34495e;
}

.nav-container {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
}

.nav-hover,
.nav-hover path {
  fill: rgba(32, 32, 32, 0.623);
  transition: fill 0.3s ease, color 0.3s ease;
}

.nav-hover:hover {
  color: #3d91a3;
  cursor: pointer;
}

.nav-hover:hover path {
  fill: #3d91a3;
  cursor: pointer;
}

.comobo-header {
  background-color: #212121;
}

.homeFontColor {
  color: #000000de;
}
.homeUnitNavSelected {
  background-color: #fe555d;
}
.homeUnitsFont {
  color: #ffffff;
}
.homeUnitNavUnSelected {
  background-color: #fe555ebe;
}

/*----------------------------------------------Overflow---------------------------------------------*/
.overflow {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.overflow::-webkit-scrollbar {
  width: 8px;
}

.overflow::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  margin-top: 50px;
}

.overflow::-webkit-scrollbar-thumb {
  background: #21212146;
  border-radius: 10px;
}

/* businessunit employe conatiner */

.overflow-emp {
  scroll-behavior: smooth;
}

.overflow-emp::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.overflow-emp::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  margin-top: 50px;
}

.overflow-emp::-webkit-scrollbar-thumb {
  background: #21212146;
  border-radius: 10px;
}

.scroll-padding {
  scroll-padding: 20px;
}

.snap-scroll {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 75px;
}

.scroll-cards {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


/* ----------------------------------------------animations------------------------------------------ */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popup {
  animation: fadeIn 0.3s forwards; /* Fade in */
}

.popup-exit {
  animation: fadeOut 0.3s forwards; /* Fade out */
}



@keyframes fadeOut-file {
  0% {
    opacity: 1;
    height: 35px;
    padding: 8px;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0px;
    padding: 0px;
  }
}

.file-uploaded {
  animation: fadeOut-file 0.5s ease-in-out forwards; /* Adjust duration as needed */
  animation-delay: 2s; /* Delay before starting the fade-in */
}



/*----------------------------------------------Settings popup---------------------------------------------*/

.selectedTab {
  background-color: #c1dce2;
}

/* Default link styles */
.fruit-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px;
}

/* Style for active link */
.active {
  color: black;
}

/* -----------------------------------------------see all------------------------------------------------ */

.seeallfont {
  color: #fe555d;
}

/* Styles for normal NavLink */
.fruit-link {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* Styles for active NavLink (with underline) */
.active-link {
  text-decoration: underline;
  color: #000; /* You can change the color as needed */
  font-weight: bold;
}

.card-shadow {
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.082);
}

.card-color {
  background-color: #f4f4f4;
}



.text-size {
  font-size: 13px;
}

/* ---------------------------image--------------------------------------------------------- */
.image-container {
  filter: blur(0.5px);
}

.interview-font-head {
  color: #626262;
}
.interview-font-para {
  color: #7a7a7a;
}
