@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.custom-font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.custom-font-mavan-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}

.customColorBlue {
  background-color: #3d91a3;
}
.footerBgColor {
  background-color: #ddefed;
}

.homeBgColor {
  background-color: #f4f5ff;
}
.homeFontColor{
  color:   #34495e;
}